<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="olarEus.app.movieapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="olarEus.app.movieapp.app.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieApp"
        tools:targetApi="31">
        <activity
            android:name=".TabbedMainActivity"
            android:exported="false"
            android:label="@string/title_activity_tabbed_main"
            android:theme="@style/Theme.MovieApp.NoActionBar" />
        <activity
            android:name=".MovieDetailsActivity"
            android:exported="false" />
        <activity
            android:name="olarEus.app.movieapp.ui.searchScreen.SearchScreenActivity"
            android:exported="false"
            android:label="@string/title_activity_search_screen"
            android:theme="@style/Theme.MovieApp.NoActionBar" />
        <activity
            android:name="olarEus.app.movieapp.ui.actorsScreen.ActorsScreenActivity"
            android:exported="false" />
        <activity
            android:name="olarEus.app.movieapp.ui.genresScreen.GenresScreenActivity"
            android:exported="false" />
        <activity
            android:name="olarEus.app.movieapp.ui.MainActivity"
            android:exported="true" />
        <activity
            android:name="olarEus.app.movieapp.ui.splashScreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="olarEus.app.movieapp.ui.onboardScreen.OnboardScreenActivity"
            android:exported="true" />
    </application>

</manifest>